img {
    
}
      
#madara {
    display: none;
}

div#uzumaki {
    
    background-image: url("img/uzumaki.png");
    display: inline-block !important;
    position: relative;
    top: -100px;
    left: 20px;
    width: 200px;
    height: 100px;
}
#uzumaki img {
    display: none;
}
#team7 div {
    display: inline;
}
#orochimaruteam {
    border: 5px solid green;
    position: relative;
}
/*        */
#kabuto {
    position: absolute;
    top: 50px;
    left: 30px;
}
.dobri {
    background-color: lightgreen;
}
.vas {
    border: 5em solid black;
}
